#join-dialog {
  padding: 150px 0px 25px 0px;
}
/* .container {
  border: 1px solid lightgray;
  border-radius: 30px;
  width: 100%;
} */

.stream-container {
  padding: 0px;
}

.form-group {
  margin: 0 auto;
  padding: 30px;
}

.form-group p {
  font-size: 20px;
  display: flex;
  margin: 10px;
  text-align: center;
}

.form-group input {
  /* width: 300px; */
}

.form-control {
  /* width: 350px; */
  text-align: center;
}

#session-header {
  padding: 20px;
}

#session-title {
  padding: 20px;
}
