.title {
  color: rgba(38, 38, 38, 1);
  font-family: "Noto Sans CJK KR-Regular";
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
}
.membernum {
  color: rgba(94, 94, 94, 1);
  font-family: "Noto Sans CJK KR-Regular";
  font-size: 17px;
  font-weight: 400;
  font-style: normal;
}
.boardpost {
  color: rgba(94, 94, 94, 1);
  font-family: "Noto Sans CJK KR-Regular";
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
}
.nickName {
  color: rgba(38, 38, 38, 1);
  font-family: "Noto Sans CJK KR-Regular";
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
}
input:focus {
  outline: none !important;
}