html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  height: 100%; /* full height of the content box */
  max-height: 20em; /* requires an absolute value for height. */
  width: 100%;
  font-family: 'Noto Sans KR sans-serif' !important;
}

div::-webkit-scrollbar {
  display: none;
}

ol,
ul {
  list-style: none;
}
