html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  height: 100%;
  width: 100%;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

div::-webkit-scrollbar {
  display: none;
}

ol,
ul {
  list-style: none;
}
